/* Custom Fonts and Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #FAF9F6;
    font-family: 'Quantico', sans-serif;
}

/* Navbar Styling */
.nav-link {
    font-family: 'Silkscreen', sans-serif;
    transition: background-color 0.3s ease;
}

.nav-link.active,
.nav-link:hover {
    background-color: #F45727;
    color: #000000;
    margin: 1rem;
    border-radius: 5px;
}

/* Intro Section Styling */
.intro .highlight {
    color: #FDC94A;
}

.intro .highlight:nth-child(2) {
    color: #3D9E9C;
}

.intro .small-text {
    font-size: 1rem;
    color: #FAF9F6;
}

/* Button Styling */
.shadow-custom {
    box-shadow: 2px 2px 0px #FAF9F6;
    font-weight: bold;
    border-radius: 5px;
}

.btn-primary {
    background-color: #376ADA;
    border: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #2563eb;
    transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    .intro h1 {
        font-size: 2.5rem;
    }

    .intro h2 {
        font-size: 1.5rem;
    }
}